<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>
  
  <div class="col-md-8">
    <p>I am learning how to develop. This website is the product of one of my first projects. I am a learner by heart, and I am always looking for new opportunities and new skills to learn. </p>
  </div>
</div>
