<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Being new to software development, I've worked to create my first project. This website featuring my blog and portfolio. Hope you enjoy it!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>









